/BibliographicDescriptionComparator/obj
/BibliographicDescriptionComparator/bin
/BibliographicDescriptionComparator.suo
/BibliographicDescriptionComparator.sln.DotSettings.user
/BibliographicDescriptionComparator.v11.suo
/BibliographicDescriptionComparator/BibliographicDescriptionComparator.csproj.user
